<div class="crossfade">
	<figure></figure>
	<figure></figure>
	<figure></figure>
	<!-- <figure></figure>
	<figure></figure> -->
</div>
<div class="crossfade-cover">
	
</div>
<div class="container-fluid page-header homepage-header">
	<div class="container">
		
		<div class="row">

			<div class="col-xl-2"></div>
			<div class="col-xl-4 col-lg-6">
				<h1>
					Developer. Designer. Creator.
				</h1>
			</div>
			<div class="col-xl-4 col-lg-6">
				<p>
					From <a href="<%- url_for('/tags/web') %>">web dev</a> to <a href="<%- url_for('/tags/games') %>">game dev</a> to <a href="<%- url_for('/tags/design') %>">visual design</a> and more, I’m a multidisciplined creator who’s always looking for his next opportunity!
				</p>
			</div>
			<div class="col-xl-2"></div>
		</div>
	</div>
</div>
<div class="container-fluid bg-pink content">
	<div class="container">
		<div class="row">
			<div class="col-xl-2"></div>
			<div class="col-xl-8">
				<div class="row">
					<div class="col-12">
						<h1>
							Recent Game Projects
						</h1>
					</div>
					<%site.tags.findOne({name: 'games'}).posts.sort('date', -1).limit(5).each(function(post) {%> <%- partial('_partial/project-card', {page: post}) %>
					<% })%>

				</div>
				<div class="row mt-5">
					<div class="col-md-6"> </div>
					<div class="col-md-6 pe-0">
						<a href="<%- url_for('/tags/games') %>"class="btn btn-primary">See More Games</a>
					</div>
				</div>
			</div>
			<div class="col-xl-2"></div>
		</div>
	</div>
</div>
<div class="container-fluid bg-pink content">
	<div class="container">
		<div class="row">
			<div class="col-xl-2"></div>
			<div class="col-xl-8">
				<div class="row">
					<div class="col-12">
						<h1>
							Recent Web Projects
						</h1>
					</div>
					<%site.tags.findOne({name: 'web'}).posts.sort('date', -1).limit(5).each(function(post) {%> <%- partial('_partial/project-card', {page: post}) %>
					<% })%>

				</div>
				<div class="row mt-5">
					<div class="col-md-6"> </div>
					<div class="col-md-6 pe-0">
						<a href="<%- url_for('/tags/web') %>"class="btn btn-primary">See More Web Projects</a>
					</div>
				</div>
			</div>
			<div class="col-xl-2"></div>
		</div>
	</div>
</div>